
<ol class="item-list effects-list">
	{{#each effects as |section sid|}}
	<li class="items-header flexrow" data-effect-type="{{section.type}}">
		<h3 class="item-name effect-name flexrow">{{section.label}}</h3>
		{{#unless (eq sid "onuse")}}
		<div class="effect-source">Origem</div>
		<div class="effect-source">Duração</div>
		{{/unless}}
		<div class="item-controls effect-controls flexrow">
			<a class="effect-control" data-action="create" title="Criar Efeito">
				<i class="fas fa-plus"></i> Novo
			</a>
		</div>
	</li>
	<ol class="item-list {{#if (and ../actor (eq section.type 'onuse'))}}flexrow{{/if}} ae-{{section.type}}">
		{{#each section.effects as |effect|}}
		<li class="item effect flexrow" data-effect-id="{{effect.id}}" data-action="edit">
			<div class="item-name effect-name flexrow">
				{{#unless (eq sid "onuse")}}
				<img class="item-image" src="{{effect.data.icon}}"/>
				<h4 class="item-name">{{effect.data.label}}</h4>
				{{else}}
				<h4 class="item-name"><b>
				{{effect.data.flags.tormenta20.custo}}

				{{#if (and (eq effect.data.flags.tormenta20.custo "") (eq ../../item.type "magia"))}}Truque:
				{{else if (eq effect.data.flags.tormenta20.custo "")}}—
				{{else}}PM:{{/if}}
				</b>
				{{effect.data.label}}</h4>
				{{/unless}}
			</div>
			{{#unless (eq sid "onuse")}}
			<div class="effect-source">{{effect.sourceName}}</div>
			<div class="effect-duration">
				{{#if effect.data.flags.tormenta20.durationScene}}
				Cena
				{{else}}
				{{effect.duration.label}}
				{{/if}}
			</div>
			{{/unless}}
			<div class="item-controls effect-controls flexrow">
				<a class="effect-control" data-action="toggle" title="{{#if (eq sid 'onuse')}}Alternar Aplicar Sempre{{else}}Alternar Efeito{{/if}}">
					<i class="fas {{#if effect.data.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
				</a>
				<a class="effect-control" data-action="edit" title="Editar Efeito">
					<i class="fas fa-edit"></i>
				</a>
				<a class="effect-control" data-action="delete" title="Deletar Efeito">
					<i class="fas fa-trash"></i>
				</a>
			</div>
		</li>
		{{/each}}
	</ol>
	{{/each}}
</ol>
