{{#if actor.favoritos.armas}}
<ol class="item-list fav-item">
	<li class="item item-header flexrow">
		<div class="item-name flex2" >Arma</div>
		<div class="itam-rolls flex2">Ataque (Dano, Crítico)</div>
		<div class="item-controls"></div>
	</li>
	{{#each actor.favoritos.armas as |item id|}}
	<li class="item flexrow fav-item" data-item-id="{{item._id}}">
		<div class="item-name flexrow flex2 rollable arma-rollable">
		<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<h4>{{item.name}}</h4>
		</div>
		<div class="itam-rolls flex2">{{item.labels.toHit}} ({{item.labels.dano}}, {{item.labels.critico}})</div>
		<div class="item-detail item-controls">
			{{#if ../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
			<a class="item-control item-fav" title="Desfavoritar" > <i class="fas fa-star" ></i></a>
		</div>
	</li>
	{{/each}}
</ol>
{{/if}}
{{#if actor.favoritos.itens}}
<ol class="item-list fav-item">
	<li class="item item-header flexrow">
		<div class="item-name flex2">Nome</div>
		<div class="item-controls">
	</li>
	{{#each actor.favoritos.itens as |item id|}}
	<li class="item flexrow fav-item" data-item-id="{{item._id}}">
		<div class="item-name flexrow flex2 {{#if (eq item.type "consumivel")}}rollable consumivel-rollable{{else}}edit-favoritos{{/if}}">
		<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<h4>{{item.name}}{{#if (eq item.type "consumivel")}} (Qtd: {{data.qtd}}){{/if}}</h4>
		</div>
		<div class="item-detail item-controls">
			{{#if (eq item.type "equipamento")}}
			<a class="item-control item-toggle toggle-armor{{#if item.data.equipado}} active{{/if}}" title="{{#if item.data.equipado}}Desequipar{{else}}Equipar{{/if}}">
				<i class="fas fa-shield-alt"></i>
			</a>
			{{/if}}
			{{#if ../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
			<a class="item-control item-fav" title="Desfavoritar" > <i class="fas fa-star" ></i></a>
		</div>
	</li>
	{{/each}}
</ol>
{{/if}}
{{#if actor.favoritos.poderes}}
<ol class="item-list fav-feat">
	<li class="item item-header flexrow">
		<div class="item-name flex2">Poder</div>
		<div class="item-tipo">Ativação</div>
		<div class="item-controls"></div>
	</li>
	{{#each actor.favoritos.poderes as |item id|}}
	<li class="item flexrow flex2" data-item-id="{{item._id}}">
		<div class="item-name flexrow flex2 rollable poder-rollable" data-label="{{item.name}}">
		<div class="item-image" style="background-image: url('{{item.img}}')"></div>
			<h4>{{item.name}}</h4>
		</div>
		<div class="item-tipo">
			{{#if item.labels.ativacao}}
			{{item.labels.ativacao}}{{#if item.labels.custoPM}},{{/if}}
			{{/if}}
			{{#if item.labels.custoPM}}
			{{item.labels.custoPM}}
			{{/if}}
		</div>
		<div class="item-detail item-controls">
			{{#if ../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
			<a class="item-control item-fav" title="Desfavoritar" > <i class="fas fa-star" ></i></a>
		</div>
	</li>
	{{/each}}
</ol>
{{/if}}
{{#if actor.favoritos.qtdMagias}}
<ol class="item-list fav-spell">
	{{#each actor.favoritos.magias as |circulo i|}}
		{{#if circulo.spells}}
		<li class="item item-header flexrow">                        
			{{#if ../isPreparationCaster}}<div class="item-toggles">Prep</div>{{/if}}
			<div class="item-name flex2">{{i}}º Círculo ({{circulo.custo}} PM)</div>
			<div class="item-tipo">Ativação</div>
			<div class="item-controls"></div>
		</li>
		{{#each circulo.spells as |m index|}}
		<li class="item flexrow" data-item-id="{{m._id}}">
			{{#if ../../isPreparationCaster}}
			<div class="item-toggles">
				<a class="item-toggle preparation-toggle {{#if m.data.preparada }}active{{/if}}" title="Preparada"><i class="fas fa-sun"></i></a>
			</div>
			{{/if}}
			<div class="item-name flexrow flex2 rollable magia-rollable" data-label="{{m.name}}">
			<div class="item-image" style="background-image: url('{{m.img}}')"></div>
				<h4>{{m.name}}</h4>
			</div>
			<div class="item-tipo">
				{{#if m.labels.ativacao}}
				{{m.labels.ativacao}}{{#if m.labels.custoPM}},{{/if}}
				{{/if}}
			</div>
			<div class="item-detail item-controls">
				{{#if ../../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
				<a class="item-control item-fav" title="Desfavoritar" > <i class="fas fa-star" ></i></a>
			</div>
		</li>
		{{/each}}
		{{/if}}
	{{/each}}
</ol>
{{/if}}
{{#if (or actor.favoritos.armas.length actor.favoritos.itens.length actor.favoritos.poderes.length actor.favoritos.qtdMagias)}}<hr>{{/if}}