<div>
	<h2>Modificadores</h2>
	{{#each modificadores as | mod | }}
	<div class="form-group" style="width: 90%;">
		<label>{{mod.label}}</label>
		<div class="form-fields">
			<input type="text" name="{{mod.name}}" value="{{mod.value}}" data-dtype="String"/>
		</div>
	</div>
	{{/each}}
</div>