<form class="tormenta20 builder" autocomplete="off">
	{{!-- Sheet Header --}}
	{{!-- flags.tormenta20.character-planner --}}
	<header class="sheet-header flexrow">
		<section class="char-info flexcol">
			<div class="form-group">
				<label for="Name">
					{{localize "T20.Name"}}
				</label>
				<input name="name" type="text" value="{{actor.name}}" data-dtype="String"/>
			</div>
			<div class="form-group">
				<label for="Level">
					{{localize "T20.Level"}}
				</label>
				<input name="flags.tormenta20.character-planner.level" type="number" value="{{flags.tormenta20.character-planner.level}}" min="0" data-dtype="Number"/>
			</div>
			<div class="form-group"></div>
		</section>
		<section class="char-stats">
			<div class="form-group">
				<label for=""></label>
			</div>
			<div class="form-group">
				<label for="">{{localize "T20.AbilityGenerationRule"}}</label>
				<select class="" name="flags.tormenta20.character-planner.abl-gen-rule" value="{{flags.tormenta20.character-planner.abl-gen-rule}}">
					{{#select flags.tormenta20.character-planner.abl-gen-rule}}
					<option value="roll-4d6">{{localize "T20.AGR.Rolling"}} (4d6)</option>
					<option value="pointbuy-20">{{localize "T20.AGR.PointBuy"}} (20)</option>
					{{/select}}
				</select>
			</div>
			<div class="form-group">
				<label for="">{{localize "T20.RacialAbilityRule"}}</label>
				<select class="" name="flags.tormenta20.character-planner.abl-racial" value="{{flags.tormenta20.character-planner.abl-racial}}">
					{{#select flags.tormenta20.character-planner.racial-abl-rule}}
					<option value="core">{{localize "T20.RAR.Default"}}</option>
					<option value="flex">{{localize "T20.RAR.Flex"}}</option>
					{{/select}}
				</select>
			</div>
			<div>
					{{log this.config.atributosAbr}}
					{{#each this.config.atributosAbr as | abl |}}
					{{log abl}}
					<span>{{localize alb}} {{alb}}</span>
					{{/each}}
				</ol>
			</div>
			<span class="init-stats">
				<span>FOR</span>
				<span>DES</span>
				<span>CON</span>
				<span>INT</span>
				<span>SAB</span>
				<span>CAR</span>
			</span>
			<span class="race-stats">
				<span>FOR</span>
				<span>DES</span>
				<span>CON</span>
				<span>INT</span>
				<span>SAB</span>
				<span>CAR</span>
			</span>
			<span class="total-stats">
				<span>FOR</span>
				<span>DES</span>
				<span>CON</span>
				<span>INT</span>
				<span>SAB</span>
				<span>CAR</span>
			</span>
		</section>
	</header>
	<section class="sheet-body flexcol">
		{{log this}}
		{{#each this.choices as | a b | }}
			<span class="choice flexcol">
				<span>{{a}}</span>
				<span class="drop">DROP AREA</span>
			</span>
		{{/each}}
	</section>
</form>

<style>
	.tormenta20.builder header {
		min-height: 300px;
	}
	.tormenta20.builder span {
		padding: 5px;
		text-align: center;
		border: 1px dashed brown;
	}

	.tormenta20.builder .sheet-body {
		min-height: 1080px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.tormenta20.builder span.drop {
		padding: 15px;
	}

	.tormenta20.builder .sheet-body span.choice {
		box-sizing: border-box;
		max-width: 50%;
		max-height: 100px;
	}

	.tormenta20.builder .char-info {
		float: left;
	}
	.tormenta20.builder .char-stats {
		float: right;
	}

</style>