<div class="tormenta20 chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item._id}}">
	<header class="card-header flexrow">
		{{#if item.img}}
		<img src="{{item.img}}" title="{{item.name}}" width="36" height="36" style="flex:0" />
		{{/if}}
		<h3 class="item-name">
			<div>{{item.name}}</div>
		</h3>
		
		{{!-- Mana Cost --}}
		{{#if custo}}
		<button class="chat-spend-mana" value="{{{custo}}}">
			{{{custo}}} <br> PM
		</button>
		{{/if}}
		{{#if truque}}
		<span class="custo" style="float: right;">
			<div><i>Truque</i></div>
		</span>
		{{/if}}
	</header>

	{{#if (eq item.type "magia")}}
		<div class="card-item-header">
			<h4>{{labels.tipo}} {{labels.nivel}} {{labels.escola}}</h4>
			<p>{{{labels.header}}}</p>
		</div>
	{{/if}}

	{{#if (eq item.type "poder")}}
		<div class="card-item-header">
			<p>
				{{#if power.resistencia}}<b> Resistência:</b> {{{power.resistencia}}} (CD {{{power.cd}}}){{/if}} 
			</p>
		</div>
	{{/if}}

	<div class="card-content">
		{{#if data.description.value}} {{{data.description.value}}} {{/if}}
	</div>
	{{#if aprimoramentos}}
	<div class="card-upgrades">
		<ul>
			{{#each aprimoramentos as |ap|}}
				<li>
					<div class="row">
						<b>
							{{#if (eq ap.custo "Truque")}}
								Truque:
							{{else if (ne ap.custo "0")}}
								{{#if (gt ap.custo 0)}}+{{/if}}{{ap.custo}}PM:
									{{#if (gt ap.qtd 1)}}
										({{ap.qtd}}x)
									{{/if}}
								{{/if}}
						</b>
						{{{ap.description}}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}

	{{#each _rolls as |r id|}}
		<div class="row">{{r.roll.options.title}}</div>
		<div class="roll {{r.roll.tipo}}">{{{r.template}}}</div>
	{{/each}}
	<hr>
	{{#if effects}}
	<div class="card-item-effects flexcol">
		{{#each effects as |ef i|}}
			<button class="chat-apply-ae" data-effect-index="{{i}}">
				<img src="{{ef.data.icon}}">
				{{{ef.data.label}}}
			</button>
		{{/each}}
	</div>
	<hr>
	{{/if}}
	{{#if placeTemplate}}
	<div class="card-item-template" id="placeTemplate">
		<button class="chat-place-template">
			<span><i class="fas fa-ruler-combined"></i></span>
			Colocar Área de Efeito</button>
	</div>
	{{/if}}
</div>