<form autocomplete="off" onsubmit="event.preventDefault();">
	{{#if (eq object.type "character")}}
	<h2>Cabeçalho</h2>
	<div class="form-group">
		<label>Mostrar campo "Divindade"</label>
		<input type="checkbox" name="flags.tormenta20.sheet.mostrarDivindade" data-dtype="Boolean" {{checked object.data.flags.tormenta20.sheet.mostrarDivindade}}>
	</div>
	<h2>Atributos</h2>
	<div class="form-group">
		<label>Mostrar campo "Bônus Temporário"</label>
		<input type="checkbox" name="flags.tormenta20.sheet.mostrarAtributoTemp" data-dtype="Boolean" {{checked object.data.flags.tormenta20.sheet.mostrarAtributoTemp}}>
	</div>
	<h2>Itens</h2>
	<div class="form-group">
		<label>Mostrar botão de edição</label>
		<input type="checkbox" name="flags.tormenta20.sheet.botaoEditarItens" data-dtype="Boolean" {{checked object.data.flags.tormenta20.sheet.botaoEditarItens}}>
	</div>
	<div class="form-group">
		<label>Mostrar campo Platina</label>
		<input type="checkbox" name="flags.tormenta20.sheet.mostrarPlatina" data-dtype="Boolean" {{checked object.data.flags.tormenta20.sheet.mostrarPlatina}}>
	</div>
	<h2>Perícias</h2>
	<div class="form-group">
		<label>Habilitar edição de perícias</label>
		<input type="checkbox" name="flags.tormenta20.sheet.editarPericias" data-dtype="Boolean" {{checked object.data.flags.tormenta20.sheet.editarPericias}}>
	</div>
	<div class="form-group">
		<label>Mostrar bônus de treinamento</label>
		<input type="checkbox" name="flags.tormenta20.sheet.mostrarTreino" data-dtype="Boolean" {{checked object.data.flags.tormenta20.sheet.mostrarTreino}}>
	</div>
	<h2>Magias</h2>
	<div class="form-group">
		<label>Preparar magias (para magos)</label>
		<input type="checkbox" name="flags.tormenta20.mago" data-dtype="Boolean" {{checked object.data.flags.tormenta20.mago}}>
	</div>
	<div class="form-group">
		<label>Preparar Poções</label>
		<input type="checkbox" name="flags.tormenta20.createPotion" data-dtype="Boolean" {{checked object.data.flags.tormenta20.createPotion}}>
	</div>
	<div class="form-group">
		<label>Escrever Pergaminhos</label>
		<input type="checkbox" name="flags.tormenta20.createScroll" data-dtype="Boolean" {{checked object.data.flags.tormenta20.createScroll}}>
	</div>
	{{/if}}
	{{#if (eq object.type "npc")}}
	<div class="form-group">
		<label>Mostrar CD:</label>
		<input type="checkbox" name="flags.tormenta20.showCD" data-dtype="Boolean" {{checked object.data.flags.tormenta20.showCD}}>
	</div>
	<div class="form-group">
		<label>Mostrar RD:</label>
		<input type="checkbox" name="flags.tormenta20.showRD" data-dtype="Boolean" {{checked object.data.flags.tormenta20.showRD}}>
	</div>
	{{/if}}
	
	<button type="submit" name="submit">Submit</button>
</form>