<form autocomplete="off" style="padding: 0 2.5%" onsubmit="event.preventDefault()" style="display: flex;flex-direction: column;">

	{{#each settings as | set s | }}
	{{#with (lookup @root @set) }}
		<div class="form-group">
			<label for="{{@set}}">{{localize this.name}}</label>
			<input type="checkbox" name="{{@set}}" id="{{@set}}" {{#if this.value}}checked{{/if}}>
			<p class="notes">{{localize this.hint}}</p>
		</div>
	{{/with}}
	{{/each}}
	<footer class="sheet-footer flexrow" style="margin-top: auto">
		<button type="submit" name="submit">
			<i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
		</button>
	</footer>
</form>