<form class="{{cssClass}} flexcol" autocomplete="off">
	{{!-- Item Sheet Header --}}
	{{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	
	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "T20.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "T20.Details" }}</a>
		<a class="item" data-tab="encantos">Encantos</a>
		<a class="item" data-tab="effects">{{ localize "T20.Effects" }}</a>
	</nav>

	{{!-- Item Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-description.html"}}
		
		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			
			{{!-- Weapon Type --}}
			<div class="form-group">
				<label>{{ localize "T20.Type" }}</label>
				<div class="form-fields">
					<select name="data.tipoUso">
						{{selectOptions config.weaponTypes selected=data.tipoUso localize=true}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.Cost" }}</label>
				<div class="form-fields">
						<input type="number" name="data.ativacao.custo" value="{{data.ativacao.custo}}" data-dtype="Number" placeholder="0"/><label>PM</label>
				</div>
			</div>
			<hr>
			{{!-- Weapon Properties --}}
			<div class="form-group stacked weapon-properties">
				<label>Propriedades</label>
				{{#each config.weaponProperties as |name prop|}}
				<label class="checkbox">
					<input type="checkbox" name="data.propriedades.{{prop}}" value="{{name}}" {{checked (lookup ../data.propriedades prop)}} data-dtype="Boolean" /> {{ name }}
				</label>
				{{/each}}
			</div>
			<hr>
			{{!-- Rolls --}}
			{{> "systems/tormenta20/templates/item/parts/item-rolls.html"}}
			
			<div class="form-group">
				<label>Crítico</label>
				<div class="form-fields">
					<input type="number" title="Margem de Ameaça" name="data.criticoM" value="{{data.criticoM}}" data-dtype="Number" min="1" max="20" placeholder="ex.: 19"/>
					<input type="number" title="Multiplicador" name="data.criticoX" value="{{data.criticoX}}" data-dtype="Number" min="2" placeholder="2" />
				</div>
			</div>
			{{#if (or data.propriedades.arr data.propriedades.dst)}}
			<div class="form-group">
				<label>{{ localize "T20.Range" }}</label>
				
				<div class="form-fields">
					<select class="selectatr" name="data.alcance" value={{data.alcance}} data-type="String">
						{{#select data.alcance}}
						<option value=""></option>
						<option value="short">{{localize "T20.DistShort"}}</option>
						<option value="medium">{{localize "T20.DistMedium"}}</option>
						<option value="long">{{localize "T20.DistLong"}}</option>
						{{/select}}
					</select>
				</div>
			</div>
			{{/if}}
			<hr>
			
			
			<div class="form-group">
				<label for="chatFlavor">ChatFlavor</label>
				<textarea name="data.chatFlavor" contenteditable="true">{{data.chatFlavor}}</textarea>
			</div>
		</div>
		
		{{!-- Encantos Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-encantos.html"}}
		
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/actor/parts/active-effects.html"}}
		</div>
	</section>
</form>
