<form class="tormenta20" autocomplete="off">

    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" name="name" value="{{item.name}}">
    </div>
    <div class="form-group">
        <label for="ability">Atributo</label>
        <select name="data.ability">
            {{#select data.ability}}
            <option value="for">Força</option>
            <option value="des">Destreza</option>
            <option value="con">Constituição</option>
            <option value="int">Inteligência</option>
            <option value="sab">Sabedoria</option>
            <option value="car">Carisma</option>
            {{/select}}
        </select>
    </div>
    <br>
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="data.reqTraining" {{checked data.reqTraining}}> Somente Treinado
        </label>
    </div>
    <br>
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="data.armorPenalty" {{checked data.armorPenalty}}> Penalidade de Armadura
        </label>
    </div>
    <br>
    <div class="form-group">
        <label class="checkbox">
            <input type="checkbox" name="data.toIniciative" {{checked data.toIniciative}}> Adicinar a iniciativa.
        </label>
    </div>
    <br>
    <div class="form-group stacked">
        <label>Grupos</label>
        <label class="checkbox">
            <input type="checkbox" name="data.groups.combat" {{checked data.groups.combat}}/> Combate
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.groups.attack" {{checked data.groups.attack}}/> Ataque
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.groups.saves" {{checked data.groups.saves}}/> Resistência
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.groups.basic" {{checked data.groups.basic}}/> Básicos
        </label>
    </div>
    
</form>